.header{
    z-index: -10;
    min-height: 100vh;
    background: url('../img/bg/Background.jpg')center center/cover no-repeat;
    padding-top: 205px;
    .subtitle{
        margin-bottom: 9px;
        z-index: 2;
        position: relative;
        @include circle 
    }
    .title{
        margin-bottom: 25px;
    }
    &__btns{
        display: flex;
        max-width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        padding: 12px 0;
        &:nth-child(1){
            padding: 12px 25px;
            background-color: $mc;
        }
    }
    &__wrapper{
        padding: 0 40px;
    }
}
